# flyctl launch added from backend\.gitignore
backend\**\HELP.md
backend\**\target
backend\**\.mvn\wrapper\maven-wrapper.jar
!backend\**\**\src\main\**\target
!backend\**\**\src\test\**\target

### STS ###
backend\**\.apt_generated
backend\**\.classpath
backend\**\.factorypath
backend\**\.project
backend\**\.settings
backend\**\.springBeans
backend\**\.sts4-cache

### IntelliJ IDEA ###
backend\**\.idea
backend\**\*.iws
backend\**\*.iml
backend\**\*.ipr

### NetBeans ###
backend\nbproject\private
backend\nbbuild
backend\dist
backend\nbdist
backend\.nb-gradle
backend\**\build
!backend\**\**\src\main\**\build
!backend\**\**\src\test\**\build

### VS Code ###
backend\**\.vscode

# flyctl launch added from frontend-android\.gitignore
frontend-android\**\*.iml
frontend-android\**\.gradle
frontend-android\local.properties
frontend-android\.idea\caches
frontend-android\.idea\libraries
frontend-android\.idea\modules.xml
frontend-android\.idea\workspace.xml
frontend-android\.idea\navEditor.xml
frontend-android\.idea\assetWizardSettings.xml
frontend-android\**\.DS_Store
frontend-android\build
frontend-android\captures
frontend-android\**\.externalNativeBuild
frontend-android\**\.cxx
frontend-android\**\local.properties

# flyctl launch added from frontend-android\.idea\.gitignore
# Default ignored files
frontend-android\.idea\shelf
frontend-android\.idea\workspace.xml

# flyctl launch added from frontend-android\app\.gitignore
frontend-android\app\build

# flyctl launch added from frontend-web\.gitignore
# Logs
frontend-web\**\logs
frontend-web\**\*.log
frontend-web\**\npm-debug.log*
frontend-web\**\yarn-debug.log*
frontend-web\**\yarn-error.log*
frontend-web\**\pnpm-debug.log*
frontend-web\**\lerna-debug.log*

frontend-web\**\node_modules
frontend-web\**\dist
frontend-web\**\dist-ssr
frontend-web\**\*.local

# Editor directories and files
frontend-web\**\.vscode\*
!frontend-web\**\.vscode\extensions.json
frontend-web\**\.idea
frontend-web\**\.DS_Store
frontend-web\**\*.suo
frontend-web\**\*.ntvs*
frontend-web\**\*.njsproj
frontend-web\**\*.sln
frontend-web\**\*.sw?
fly.toml
